/** EBL Components **/

#container {
    -moz-binding: url("chrome://monkily/content/bindings.xml#container");
    -moz-box-orient: vertical;
    overflow: auto;
    height: 225px;
}



/** Normal CSS **/
body {
  margin:           0;
  padding:          0 1em;
  font-family: Tahoma, sans-serif;
}
                                                           
#msgContainer {
  -moz-border-radius-bottomleft:  10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-topleft:     10px;
  -moz-border-radius-topright:    10px;
  -moz-padding-start:             30px;
  background:                     -moz-field url(chrome://monkily/skin/icon.png) no-repeat scroll left 0;
  -moz-background-origin:         content;
  border:                         1px solid threedshadow;
  margin:                         1em auto 0;
  max-width:                      52em;
  min-width:                      13em;
  padding:                        3em;
  position:                       relative;
}

#msgContainer > * {
  margin-left:      80px;
}

h1, h2, h3 {
  font-size:        100%;
}

h2, h3 {
  font-weight:      normal;
}

h1 {
  border-bottom:    1px solid threedlightshadow;
  font-size:        160%;
  margin:           0 0 0.6em;
}

h2 {
  border-bottom:    1px solid threedlightshadow;
  font-size:        130%;
  overflow:         auto;
  padding-bottom:   1em;
  white-space:      pre-wrap;
}

#tips > ul {
  list-style-type:  square;
}

#inst > ul {
  list-style-type:  decimal;
}

#tips > ul > li, #inst > ul > li {
  margin-bottom:    0.5em;
}

#tips > ul > li, h3, #inst > ul > li {
  font-size:        110%
}


#fireMeldContainer { background-color:white; }


/** Main Panel **/
#fireMeldPanel { }
#fireMeldPanel table {  }
#fireMeldPanel table.login td { width: 90px; border: 1px solid; border-style: solid; border-color: #cfcfcf; padding: 5px; font-family: arial; font-size: 16px; }
#fireMeldPanel table.login td input { font-family: arial; font-size: 12px; }
#fireMeldPanel table.login th { width: 90px; border: 1px solid; border-style: solid; border-color: #cfcfcf; padding: 5px; background-color: #dfdfdf; font-family: verdana; font-size: 12px; }
#fireMeldPanel td { width: 90px; border: 1px solid; border-style: solid; border-color: #cfcfcf; padding: 2px; font-family : verdana; font-size: 10px; }
#fireMeldPanel td a { color: blue; } 
#fireMeldPanel tr.header td { width: 90px; border: 1px solid; border-style: solid; border-color: #cfcfcf; padding: 2px; background-color: #dfdfdf; font-family: verdana; font-size: 10px; font-weight:bold; }
#fireMeldPanel input { width: 110px; border: 1px solid; border-style: solid; border-color: #cfcfcf; padding: 2px; font-family: verdana; font-size: 10px; }
#fireMeldPanel input.check { width: 20px; border: 1px solid; border-style: solid; border-color: #cfcfcf; padding: 2px; font-family: verdana; font-size: 10px; }
#fireMeldPanel td.ad { color: blue; cursor: pointer; text-decoration: underline; width: 110px; border: 1px solid; border-style: solid; border-color: #cfcfcf; padding: 2px; font-family: verdana; font-size: 10px; }
#fireMeldPanel td.speed1 { background-color: #99ff99; }
#fireMeldPanel td.speed2 { background-color: #ffff99; }
#fireMeldPanel td.speed3 { background-color: #ffcc66; }
#fireMeldPanel td.speed4 { background-color: #ff3300; }
#fireMeldPanel tr.highlighted-row td.network { font-weight: bold; }

#fireMeldPanel .fullscreen { width: 100%; height: 100%; }

#fireMeldPanel div#copyright { width: 100%; color: #666666; text-align: center; font-size: 8px; }

#fireMeldPanel a#feedback_link { text-decoration: underline; font-weight: bold; color: black; }
#fireMeldPanel a#feedback_link:hover { text-decoration: none; font-weight: bold; color: black; }




/** Toolbar **/
.toolbarbutton-iconic {
    margin: 0 4px 0 1px !important;
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
}

.toolbarbutton-iconic > .toolbarbutton-icon {
    padding: 0;
}

.toolbarbutton-iconic > .toolbarbutton-text {
    display: none;
}

#monkilyCloseButton {
    margin: 0 4px 0 0;
    -moz-image-region: rect(auto, auto, auto, auto);
    list-style-image: url("chrome://monkily/skin/close.png");
}

#monkilyCloseButton:hover {
    list-style-image: url("chrome://monkily/skin/closeHover.png");
}

#monkilyCloseButton:hover:active {
    list-style-image: url("chrome://monkily/skin/closeActive.png");
}


/** Status Bar **/
#monkilyStatusBar {
    cursor: pointer;
}

#monkilyStatusIcon {
    list-style-image: url(chrome://monkily/skin/icon16.png);
}

#monkilyStatusText {
    cursor: pointer;
    color: red;
    font-weight: bold;
}
